@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.HttpOverrides;
@using Microsoft.AspNetCore.Mvc;

@model WebAppMVC.Models.GameModel
@{
    ViewData["Title"] = "Game";
    Layout = "_HomeLayout";

}

<html>
<head>
    <title>Game</title>
    <link href="~/css/LudoStyle.css" rel="stylesheet" />
    <style>
        .center {
            margin-bottom: 100px;
            margin: auto;
            width: 60%;
            border: 3px solid #f48c42;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header class="masthead p-5 text-center text-white">
        <div class="masthead-content">
            <div class="container"></div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    <div>

        @for (int i = 0; i < Model.players.Count; i++)
        {

            <div class="center">
                <h2> @Model.players[i].Name's Pices:</h2>
                @foreach (var pice in Model.players[i].Pieces)
                {
                    <p style="color:@Model.players[i].PlayerColor">@pice.PieceId < ----ID || Poss ----> @pice.Position </p>
                }
            </div>

        }

        <div class="center">
            <h1 style="color:@Model.players[Model.currentPlayerId].PlayerColor"> @Model.players[Model.currentPlayerId].Name's Turn! </h1>
            <form asp-action="rollDice">
                <input type="submit" , value="Roll Dice!" />
            </form>
            @if (Model.diceValue != 0)
            {
                <div>
                    <label>
                        You Rolled: @Model.diceValue
                    </label>
                    <label>Select Pice to Move!</label>
                </div>
                <form asp-action="movePiece" , name="Select Pice To Move!">
                    <select asp-for="movePiece.pieceId">
                        <option value="0">Pice 1 -->@(@Model.players[Model.currentPlayerId].Pieces[0].Position + @Model.diceValue)</option>
                        <option value="1">Pice 2 --> @(@Model.players[Model.currentPlayerId].Pieces[1].Position + @Model.diceValue)</option>
                        <option value="2">Pice 3 --> @(@Model.players[Model.currentPlayerId].Pieces[2].Position + @Model.diceValue)</option>
                        <option value="3">Pice 4 --> @(@Model.players[Model.currentPlayerId].Pieces[3].Position + @Model.diceValue)</option>
                    </select>
                    <input type="submit" class="button" value="Move!" />
                </form>
            }
        </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/api/script.js"></script>